/* змінні */
:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --text: #434455;
  --light-on-dark: #ffffff;
  --accent: #e7e9fc;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
  --subtle-text: #8e8f99;
  --modal-background: #fcfcfc;
  --modal-check-text: #757575;

  --shadow1: rgba(46, 47, 66, 0.08);
  --shadow2: rgba(46, 47, 66, 0.16);
  --shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --footer-placeholder: rgba(255, 255, 255, 0.6);
  --modal-placeholder: rgba(117, 117, 117, 0.5);

  --gradient: rgba(4, 6, 41, 0.7);
  --footer-social: rgba(255, 255, 255, 0.1);
  --backdrop-modal: rgba(46, 47, 66, 0.4);
  --success: #31d0aa;

  --main-font: 'Roboto', sans-serif;

  --items: 4;
  --indent: 24px;

  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------- */
/* скидання маркерів, підкреслень, відступів */
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.link {
  color: currentColor;
  text-decoration: none;

  transition: color 250ms var(--timing);
}

.link:hover,
.link:focus {
  color: var(--primary-brand);
}
.link:active {
  color: var(--text);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ----------*/
body {
  color: var(--text);
  font-family: var(--main-font);
  letter-spacing: 0.02em;
}

/* компоненти */

.logo {
  color: var(--dark);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item {
  color: var(--primary-brand);
}
.button {
  padding: 16px 32px;
  border: var(--primary-brand);
  border-radius: 4px;

  background-color: var(--primary-brand);
  color: var(--light-on-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  cursor: pointer;

  transition: background-color 250ms var(--timing);
}
.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}
.secondary-title {
  margin-bottom: 72px;

  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}

.current {
  position: relative;
  color: var(--primary-brand);
}

.card-set {
  gap: var(--indent);
}

.card-item {
  flex-basis: calc(100% - ((var(--items) - 1) * var(--indent)) / var(--items));
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  background-color: var(--accent);
  cursor: pointer;

  transition: background-color 250ms var(--timing);
}
.close-btn:hover,
.close-btn:focus {
  background-color: var(--pressed-state);
}

.container {
  min-width: 280px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}
/* @media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
    margin-left: auto;
  margin-right: auto;
      }
} */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
    /* padding-left: 156px;
    padding-right: 156px; */
  }
}

/**
  |============================
  | HEADER
  |============================
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-right: 156px;
    padding-left: 156px;
  }
}
.header-bgd {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px var(--shadow1), 0px 1px 1px var(--shadow2),
    0px 1px 6px var(--shadow1);
}
.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 76px;
  }
}
.mobile-menu-button {
  display: block;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 22px;
  padding: 0;
}
.menu-burger {
  stroke: var(--dark);
  transition: stroke 500ms var(--timing);
}
.mobile-menu-button:hover .menu-burger,
.mobile-menu-button:focus .menu-burger {
  stroke: var(--pressed-state);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--light-on-dark);
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  z-index: 999;

  transition: opacity 250ms var(--timing), visibility 250ms var(--timing),
    transform 250ms var(--timing);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.mobile-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  background-color: var(--accent);
  cursor: pointer;

  transition: background-color 250ms var(--timing);
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: var(--pressed-state);
}
.mobile-menu-list {
  margin-top: 80px;
  margin-left: 40px;
}
.mobile-menu-item {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
  color: var(--primary-brand);
}
.mobile-contacts {
  margin-bottom: 48px;
  margin-left: 40px;
}
.mobile-contacts-phone {
  margin-bottom: 40px;
  color: var(--primary-brand);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}
.mobile-contacts-email {
  color: var(--text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.mobile-social-block {
  display: flex;
  gap: 56px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: var(--primary-brand);
  transition: backgrouhd-color 250ms var(--tim);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
.main-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav-list {
    display: flex;
  }
  .main-nav {
    display: flex;
  }
  .main-nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .main-nav-list-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .current {
    position: relative;
    color: var(--primary-brand);
  }

  .current::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-brand);
  }
}
.address {
  display: none;
}
@media screen and (min-width: 768px) {
  .address-container {
    margin-left: auto;
  }
  .address {
    display: block;

    color: var(--text);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    text-decoration: none;

    transition: color 250ms var(--timing);
  }
  .address:hover,
  .address:focus {
    color: var(--primary-brand);
  }
}
@media screen and (min-width: 1200px) {
  .address {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .address-list-item-mail {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .address-list-item-mail {
    margin-bottom: 0px;
  }
  .address-list {
    display: flex;
    gap: 40px;
  }
}

/**
  |============================
  | HERO
  |============================
*/
.hero-bgd {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-color: var(--dark);
  background-image: linear-gradient(var(--gradient), var(--gradient)),
    url('../images/hero/mobile-bg.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-bgd {
    background-image: linear-gradient(var(--gradient), var(--gradient)),
      url('../images/hero/mobile-bg@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero-bgd {
    max-width: 768px;
    padding-bottom: 108px;

    background-color: var(--dark);
    background-image: linear-gradient(var(--gradient), var(--gradient)),
      url('../images/hero/tablet-bg.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-bgd {
      background-image: linear-gradient(var(--gradient), var(--gradient)),
        url('../images/hero/mobile-bg@2x.jpg');
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero-bgd {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;

    background-color: var(--dark);
    background-image: linear-gradient(var(--gradient), var(--gradient)),
      url('../images/hero/desktop-bg.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-bgd {
      background-image: linear-gradient(var(--gradient), var(--gradient)),
        url('../images/hero/desktop-bg@2x.jpg');
    }
  }
}
.hero-box {
  text-align: center;
}
.main-title {
  max-width: 318px;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;

  color: var(--light-on-dark);
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 494px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    max-width: 494px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/**
  |============================
  | BENEFITS
  |============================
*/
.benefits-box-item {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .benefits-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;

    justify-content: space-between;
    column-gap: 24px;
  }
  .benefits-box-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-box {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .benefits-box-item {
    flex-basis: calc(100% / 4);
  }
}
@media screen and (max-width: 1199px) {
  .benefits-icon-block {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-icon-block {
    margin-bottom: 8px;

    padding: 24px 100px;
    background-color: var(--light);
  }
  .benefits-icon {
    width: 64px;
    height: 64px;
  }
}
.third-title {
  margin-bottom: 8px;

  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .third-title {
    line-height: 1.5;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .third-title {
    font-size: 36px;
    line-height: 1.5;
    text-align: start;
  }
}

/**
  |============================
  | WE ARE DOING
  |============================
*/
.we-doing-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .we-doing-container {
    display: block;
    padding-top: 0;
  }
  .we-doing-box {
    display: flex;
  }
  .we-doing-box-item {
    --items: 3;
  }
}

/**
  |============================
  | OUR TEAM
  |============================
*/
.team {
  background-color: var(--light);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 768px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    justify-content: center;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-box-item {
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px var(--shadow1), 0px 1px 1px var(--shadow2),
    0px 2px 1px var(--shadow1);
}
@media screen and (min-width: 768px) {
  .team-box-item {
    margin: 0;
  }
}
.team-box-item:not(:last-child) {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .team-box-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.team-card-name {
  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
}
.team-card-name > .third-title {
  font-size: 20px;
  line-height: 1.2;
}
.team-social-block {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50% 50%;
  background-color: var(--primary-brand);

  transition: background-color 250ms var(--timing);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  display: block;
  width: 16px;
  height: 16px;
}
/**
  |============================
  | CUSTOMERS
  |============================
*/
.customers {
  padding-top: 72px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 130px;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.customers-link {
  display: block;
  padding: 16px 40px;
  border-radius: 4px;
  outline: 1px solid var(--subtle-text);

  transition: outline 250ms var(--timing);
}
@media screen and (min-wdth: 1200px) {
  .customers-link {
    display: block;
    padding: 16px 32px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;

    transition: border 250ms var(--timing);
  }
}

.customers-link:hover,
.customers-link:focus {
  outline: 1px solid var(--pressed-state);
}
.customers-icon {
  width: 110px;
  height: 56px;

  fill: var(--subtle-text);

  transition: fill 250ms var(--timing);
}
@media screen and (min-width: 1200px) {
  .customers-icon {
    width: 104px;
    height: 56px;

    fill: var(--subtle-text);

    transition: fill 250ms var(--timing);
  }
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--pressed-state);
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer-bgd {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark);
}
@media screen and (min-width: 768px) {
  .footer-bgd {
    padding-left: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-bgd {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block {
    display: flex;
  }
}
.logo-item-footer {
  display: block;
  color: var(--light);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo-item-footer {
    text-align: start;
  }
}

.paragraph-footer {
  max-width: 264px;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .paragraph-footer {
    margin: 0;
    text-align: start;
  }
}

.footer-title {
  margin-bottom: 16px;
  color: var(--light-on-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-title {
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo-social {
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo-social {
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-media {
    margin-right: 80px;
    margin-left: 120px;
  }
}

.footer-social-block {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .footer-social-block {
    justify-content: start;
  }
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: var(--footer-social);

  transition: background-color 250ms var(--timing);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.footer-social-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--light);
}
.form-button {
  display: block;
}
@media screen and (min-width: 768px) {
  .form-button {
    display: flex;
  }
}

.form-subscribe {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .form-subscribe {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
.form-subscribe::placeholder {
  align-items: center;
  color: var(--footer-placeholder);
  letter-spacing: 0.04em;
}

.footer-button {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;
}
@media screen and (min-width: 768px) {
  .footer-button {
    margin-right: 0;
    margin-left: 0;
  }
}
.icon-send {
  margin-left: 16px;
}

/**
  |============================
  | MODAL
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-modal);
  opacity: 1;

  transition: opacity 250ms var(--timing), visibility 250ms var(--timing),
    transform 250ms var(--timing);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  /* height: 584px; */

  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 4px;

  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--timing), opacity 250ms var(--timing);

  transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-text {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

/* Modal-Form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-input-wrapper {
  position: relative;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;

  color: var(--subtle-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-form-input-desc-name {
  line-height: 1.33;
}
.modal-form-input {
  display: block;

  width: 100%;
  height: 40px;
  margin-bottom: 8px;

  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #000;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  transition: border 250ms var(--timing);
}
.modal-form-input:focus {
  border: 1px solid var(--primary-brand);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 8px;
  left: 16px;

  fill: var(--dark);

  transition: fill 250ms var(--timing);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-brand);
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: none;
}
.modal-form-comment::placeholder {
  color: var(--modal-placeholder);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.modal-check-text {
  display: flex;

  align-items: baseline;
  margin-bottom: 24px;
  color: var(--modal-check-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.fake-check {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  padding-left: 3px;
  border: 1.25px solid var(--dark);
  border-radius: 2px;
  cursor: pointer;
}
.modal-check-input:checked + .fake-check {
  border: none;
  background-color: var(--pressed-state);
}
.modal-link {
  color: var(--primary-brand);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.modal-button {
  display: block;
  width: 168px;

  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}

/**
  |============================
  | PORTFOLIO PAGE
  |============================
*/
.portfolio-page {
  padding-top: 0;
 }

/* -----Filter----- */
.filter-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 16px 24px;

  margin-top: 48px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-top: 96px;
    margin-bottom: 72px;
  }
}
.button-filter {
  padding: 8px 16px;

  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--primary-brand);

  transition: color 250ms var(--timing), background-color 250ms var(--timing),
    box-shadow 250ms var(--timing);
}
@media screen and (min-width: 768px) {
  .button-filter {
    padding: 12px 24px;
  }
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--pressed-state);
  color: var(--light-on-dark);
  box-shadow: var(--shadow-filter);
}

/*-----Portfolio-----*/
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  
}

@media screen and (min-width: 1200px){
.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
}
/* .portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 0.5px solid var(--light);
  box-shadow: 0px 1px 6px var(--shadow1);
} */
.portfolio-link {
  display: block;
  color: var(--text);
  text-decoration: none;

  transition: box-shadow 250ms var(--timing);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px var(--shadow1), 0px 1px 1px var(--shadow2),
    0px 2px 1px var(--shadow1);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--primary-brand);

  color: var(--light);
  transition: transform 250ms var(--timing);

  transform: translateY(100%);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.portfolio-list-item-descr {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid var(--accent);
  border-top: none;
}
.secondary-title-portfolio {
  margin-bottom: 8px;

  color: var(--dark);
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}
